body {
  padding-top: 54px;
  background-color: #343a40;
}

#header {
  background-color: #8cc63f;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

#logo {
  width: 50%;
}

.container {
  background-color: black;
}

.bg-dark {
    background-color: black !important;
}

h1 {
  color: white;
}

.card-title a {
  color: #8cc63f;
}

.main {
  margin-top: 3%;
}

/* clock and date styling */
#clockdate {
  margin-right: 25%;
  width: 100%;
  margin-top: -4%;
}

.clockdate-wrapper {
    background-color: #343a40;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#343a40;
    font-family: sans-serif;
    font-size:2em;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:1em;
    position:relative;
    left:5%;
}
#date {
    letter-spacing:5px;
    font-size:1em;
    font-family:arial,sans-serif;
    color:#fff;
}

#calculator {
  background-color: white;
  width: 100%;
  margin: 0 10% 0 10%;
  border: 3px solid #8cc63f
}

#calcClick {
  width:100%;
}

#costDisplay {
  margin-left: 45%;
  border: 5px solid black;
  font-size: 5vw;
  width: 15%;
  text-align: center;
  position: fixed;
  margin-top: -13%;
}

#costarea {
margin-left: 48%;
position: fixed;
margin-top: -16%;
font-size: 2vw;

}

#costshow {
  position: fixed;
  margin-left: 48%;
  margin-top: -3%;
}

#mapouter {
  margin-left: 45%;
  border: 5px solid white;
}
#addressSelector {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
}

#timesheet {

  margin-left: 20%;
  font-size: 2vw;
  background-color: white;

}

.divTable{
	display: table;
	width: 100%;

}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 5px 15px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


#searchbar {
  margin-top: 20%;
  position: absolute;
  width: 50%;
  margin-left: 5%;
}
h4 {
  color:white;
}

h6 {
  color: white;
}

@media (max-width: 714px) {
  body {
    padding-top: 56px;
  }
  #logo {
    width: 30%;
  }
  #clockdate{
    width: 45%;
    font-size: 2vw;
    margin-left: 30%;
    margin-top: -2%;
    position: fixed;
  }
  .navbar-toggler{
    margin-left: 80%;
    margin-top: 0%;
    position: fixed;
  }

  #date{
    letter-spacing: 3px;
  }
  .main{
    margin-top: -6%;
  }

  #mapouter {
    width: 95%;
    margin-top: -2%;
    margin-left: 2.5%;
    border: none;
  }
#gmap_canvas {
  width: 95%;
  margin-left: 2.5%;
  margin-top: -2%;
}

  #gmap_canvas_display {
    width:95%;
    margin-left: 2.5%;
    margin-top: 0%;
  }
  #addressSelector {
    display: block;
    margin-left: 7%;
    margin-top: 107%;
  }
#dropdown-menu{
  width: 55%;
}
  #searchbar {
      display: block;
      margin-top: 107%;
      margin-left: 45%;
      width: 80%
  }

  #search {
    width: 60%;
    height: 10%;
    margin-left: 0%;
  }
#freqhead {
  font-size: 2.5vw;
  margin-left: 0%;

}

h6 {
  font-size: 2vw;
}

#costarea {
  font-size: 5vw;
  margin-top: -25%;
}

#costDisplay {
  margin-left: 52%;
}
}
