body {
  padding-top: 54px;
  background-color: #343a40;
}



.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

#logo {
  width: 50%;
}

.container {
  background-color: black;
}

.bg-dark {
    background-color: black !important;
}

h1 {
  color: white;
}

.card-title a {
  color: #8cc63f;
}

.main {
  margin-top: 3%;
}

/* clock and date styling */
#clockdate {
  margin-right: 25%;
  width: 100%;
  margin-top: -4%;
}

.clockdate-wrapper {
    background-color: #343a40;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#343a40;
    font-family: sans-serif;
    font-size:2em;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:1em;
    position:relative;
    left:5%;
}
#date {
    letter-spacing:5px;
    font-size:1em;
    font-family:arial,sans-serif;
    color:#fff;
}

#calculator {
  background-color: white;
  width: 100%;
}

@media (max-width: 714px) {
  body {
    padding-top: 56px;
  }
  #logo {
    width: 30%;
  }
  #clockdate{
    width: 45%;
    font-size: 2vw;
    margin-left: 30%;
    margin-top: -2%;
    position: fixed;
  }
  .navbar-toggler{
    margin-left: 80%;
    margin-top: 0%;
    position: fixed;
  }

  #date{
    letter-spacing: 3px;
  }
  .main{
    margin-top: -2%;
  }
}
